@font-face {
  font-family: 'Unison Pro';
  font-weight: 900;
  src: url("https://f005.backblazeb2.com/file/wilkinson-graphics-corp-public/UnisonProBold.woff2");
}

// Variables
$titlefont: 'Unison Pro', 'Eurostile', 'Helvetica', 'Inter var', sans-serif;
$bodyfont: 'Inter var', 'Helvetica', sans-serif;
$wgcblue: #008BCC;
$wgcorange: #E69718;
$wgcpink: #CD0067;
$wgcgray: #363636;
$wgc-shadow-45: -0.25rem 0.25rem 0 0 white,-0.5rem 0.5rem 0 0 black;
$wgc-shadow-90: 0 0.25rem 0 0 white,0 0.5rem 0 0 black;

//Sass MQ configuration
$mq-breakpoints: (
    mobile:  414px,
    tablet:  768px,
    desktop: 1128px,
    ultrawide: 1400px
);

// Apply a natural box layout model to all elements, but allowing components to change
html {
	box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
	  box-sizing: inherit;
}
body, ul, h1, h2, h3 {
 margin: 0;
 padding: 0;
}

//Default font and background
body {
    font-family: $bodyfont;
}

.shrink-0 {
  flex-shrink: 0;
}
