.index-list {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

    @include mq($from: mobile, $until: tablet) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

    h2 {
        margin-bottom: 1rem;
    }

    h3 {
        margin-bottom: 0.25rem;
    }
}

.index-sectionlist {
    margin-bottom: 1rem;
    ul {
        list-style-type: none;
    }
}


.recipepage-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.recipepage-info {
    border: 0.25rem solid black;
    padding: 2rem;
    background-color: $wgcgray;
    margin-bottom: 2rem;
    box-shadow: -0.25rem 0.25rem 0 0 white,-0.5rem 0.5rem 0 0 black;

    h1 {
        font-size: 1.5rem;
        color: white;
    }

    h2 {
        font-size: 1rem;
        color: $wgcorange;
    }
}

.recipepage-info-stats {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    @include mq($from: mobile, $until: tablet) {
        flex-direction: column;
      }
}

.recipepage-stat {
    border: 0.125rem solid white;
    padding: 0.25rem 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    color: white;
    font-weight: 500;

    @include mq($from: mobile, $until: tablet) {
        width: 100%;
      }
}

.preptime {
    background-color: $wgcblue;
}

.cooktime {
    background-color: $wgcpink;
}

.vegetarian {
    background-color: $wgcgreen;
}

.recipepage-recipe {
    width: 100%;
    max-width: 60rem;
    margin: 0 1rem;
    margin-top: 2rem;

    h1, h2, h3, h4 {
        font-family: $titlefont;
        margin-bottom: 0.5rem;
    }

    h4 {
        color: $wgcpink;
    }

    ul, ol {
        margin-left: 2.4rem;
        padding-left: 0;
        margin-bottom: 2rem;
    }

    li {
        margin-bottom: 0.25rem;
    }

    li::marker{
        color: $wgcpink;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    hr {
        border-bottom: 0.25rem solid black;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    blockquote {
        border-left: 0.25rem solid $wgcpink;
        margin-left: 1rem;
        padding-left: 1rem;
    }
}
