.nav {
    background-color: lightgrey;
    width: 100%;
    padding: 1rem 2rem;
    border-bottom: 0.25rem solid black;
    @include mq($from: mobile, $until: tablet) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
}
