<!DOCTYPE html>
<html lang="en">
    {{ partial "partials/head.html" . }}
    <body>
        {{ partial "partials/nav.html" . }}
        <div class="recipepage-wrapper">
            <article class="recipepage-recipe">
                <div class="recipepage-info">
                    <h1>{{ .Page.Params.title}}</h1>
                    {{ if .Page.Params.author }}
                    <h2><span style="color:white;">By: </span>{{ .Page.Params.author}}</h2>
                    {{ end }}
                </div>
                {{ .Content }}
            </article>
        </div>
        
    </body>
    
</html>
