<!DOCTYPE html>
<html lang="en">
{{ partial "partials/head.html" . }}
<body>
  {{ partial "partials/nav.html" . }}
  <nav class="index-list">
    <h2>Categories</h2>
    <div>
      {{ range .Sections.ByTitle }}
      <details class="index-sectionlist">
        <summary>{{ .LinkTitle }} — {{ len .Pages.ByTitle }}</summary>
        <ul>
          {{ range .Pages.ByTitle }}
          <a href="{{ .RelPermalink }}">
            <li {{ if .Page.Params.vegetarian }} style="background-color: #32a500 !important;" {{end}}>
              {{ .LinkTitle }}
              {{ if .Page.Params.vegetarian }}
              <div class="shrink-0" style="height: 1rem;" title="Vegetarian">
                <svg width="16" height="16" fill="#ffffff">
                  <use xlink:href="img/icons/bootstrap/bootstrap-icons.svg#peace-fill" />
                </svg>
              </div>
              
              {{ end }}
            </li>
          </a>
          {{ end }}
        </ul>
      </details>
      {{ end }}
    </div>
  </nav>
</body>

</html>
