<!DOCTYPE html>
<html lang="en">
{{ partial "partials/head.html" . }}
<body>
  {{ partial "partials/nav.html" . }}
  <nav class="index-list">
    <h2>Categories</h2>
    <div>
      {{ range .Sections.ByTitle }}
      <details class="index-sectionlist">
        <summary>{{ .LinkTitle }} — {{ len .Pages.ByTitle }}</summary>
        <ul>
          {{ range .Pages.ByTitle }}
          <li {{ if .Page.Params.vegetarian }} style="background-color: #32a500 !important;" {{end}}>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          </li>
          {{ end }}
        </ul>
      </details>
      {{ end }}
    </div>
  </nav>
</body>

</html>
